h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

@media screen and (max-width: 900px) {
    .col {
       width:100%;
    }
 }


@media screen and (min-width: 900px) {
    body {
        max-width: 70%;
    }
}