<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>FlaskBlog</title>
</head>
<body>
   <h1>Welcome to FlaskBlog</h1>
</body>
</html> -->
{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Ticket Generator {% endblock %}</h1>
    <hr>
    <div class='container'>
        <form>
            <!-- <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  Single Ticket
                </label>  
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  Multiple Tickets 
                </label>  
            </div> -->

            <div class="form-row">
                <div class="col">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">Where tickets should be sent</small>
                </div>
                <div class="col">
                    <label>Home team</label>
                    <select class="form-control" id="home">
                        <option>Bruins</option>
                        <option>Blues</option>
                    </select>
                </div>
                <div class="col">
                    <label>Opponent</label>
                    <input type="text" class="form-control" id="opponent" placeholder="Florida Panthers">
                    <small id="emailHelp" class="form-text text-muted">Include full name</small>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label>Date</label>
                    <input type="text" class="form-control" id="date" placeholder="Nov 4, 2021">
                </div>
                <div class="col">
                    <label>Game Start</label>
                    <input type="text" class="form-control" id="time" placeholder="7:00 PM">
                </div>
                <div class="col">
                    <label for="exampleInputEmail1">Entry</label>
                    <input type="email" class="form-control" id="entry" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">Might not be needed</small>

                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label>Section</label>
                    <input id="section" type="text" class="form-control">
                </div>
                <div class="col">
                    <label>Row</label>
                    <input id="row" type="text" class="form-control">
                </div>
                <div class="col">
                    <label>Seat(s)</label>
                    <input id="seat" type="text" class="form-control" placeholder="ex. 5 or 5-8">
                    <small id="emailHelp" class="form-text text-muted">Single seat or range accepted</small>
                </div>
            </div>

            <button type="button" class="btn btn-primary" id="submit">Submit</button>
          </form>

      
      </div>
{% endblock %}

